<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Carrinho</title>
</head>
<body>
    <h1>Seu Carrinho</h1>
    <ul>
        {% for item in carrinho.values %}
        <li>
            <h2>{{ item.nome }}</h2>
            <p>Quantidade: {{ item.quantidade }}</p>
            <p>Preço: R$ {{ item.preco }}</p>
        </li>
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'realizar_pedido' %}">
        {% csrf_token %}
        <div>
            <label for="mesa">Número da Mesa:</label>
            <input type="number" id="mesa" name="mesa" required>
        </div>
        <button type="submit">Realizar Pedido</button>
    </form>

    <a href="{% url 'listar_produtos' %}">Continuar Comprando</a>
</body>
</html>
